.banner{
    margin-top: 10vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 4vh;
    height: 55vh;
    width: 100%;
    padding: 0 4vw;
}
.banner img{
    width: 100%;
    height: 100%;
}
.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6vh;
}
.Header p{
    font-size: 1.6rem;
    font-weight: 700;
}
.container1{
    width: 100%;
    padding: 0 4vw;
}
.mun-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #1D1C41 0%, #E6DDCF 100%);
    padding: 3vh 4vw;
    color: #E6DDCF;
    border-radius: 0.625rem;
}
.image{

    width: 10vw;
}
.image img{
    height: 100%;
    width: 100%;
    
}
.text p{
    font-size: 1.2rem;
    font-weight: 800;
}
.mun-container2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #1D1C41 0%, #E6DDCF 100%);
    padding: 3vh 4vw;
    color: #E6DDCF;
    border-radius: 0.625rem;
}
@media screen and (max-width:700px) {
    .mun-container2{
        width: 100%;
    }
    .mun-container{
        width: 100%;
    }

}