.review {
  width: 90vw;
  background-color: #9695C2;
  transition-duration: 0.4s;
}

.review:hover {
  background-color: #1D1C41;
  color: #ffffff;
  transition-duration: 0.4s;
}

@media screen and (min-width: 760px) {
  .review {
    width: 60vw;
  }
}

@media screen and (min-width:1000px) {
  .review {
    width: 20vw;
  }
}