.TeamCard {
  margin: 0 auto;
  padding: 2.5rem;
  scale: 0.8;
  transition-duration: 1s;
  clip-path: polygon(0% 0%, 0% 90%, 100% 100%, 100% 0%);
}

.TeamCard:hover {
  transition-duration: 1s;
  scale: 1.1;
}

.socialCont {
  opacity: 0;
  transition-duration: 1s;
}

.socialCont img {
  filter: invert(20%);
  transition-duration: 1s;
}

.TeamCard:hover .socialCont img {
  filter: invert(100%);
  transition-duration: 1s;
}

.TeamCard:hover .socialCont {
  opacity: 1;
  transition-duration: 1s;
}

.details {
  position: relative;
  top: 0;
  transition-duration: 1s;
}

.TeamCard:hover .details {
  top: -8rem;
  transition-duration: 1s;
}

.photo {
  opacity: 1;
  transition-duration: 1s;
}

.TeamCard:hover .photo {
  opacity: 0;
  transition-duration: 1s;
}

.socialCont img {
  scale: 1;
  transition-duration: 0.5s;
}

.socialCont img:hover {
  scale: 1.1;
  transition-duration: 0.5s;
}

.lustre {
  position: absolute;
  width: 120%;
  height: 15vh;
  background-color: #29292973;
  box-shadow: 0 0 10rem #29292973;
  transform: translateX(-50%) translateY(-120%) rotateZ(45deg);
  animation-name: none;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  animation-direction: alternate;
  opacity: 0;
  transition-duration: 1s;
}

.TeamCard:hover .lustre {
  animation-name: lustre;
  transition-duration: 1s;
}

@keyframes lustre {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-120%) rotateZ(90deg);
  }

  50% {
    opacity: 1;
    transform: translateX(50%) translateY(-120%) rotateZ(90deg);
  }

  100% {
    opacity: 0;
    transform: translateX(50%) translateY(-120%) rotateZ(90deg);
  }
}

@media screen and (min-width: 760px) {
  .TeamCard {
    width: 20vw;
  }
}
