@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;800&family=Montserrat:wght@700&display=swap");

.TeamContainer {
  margin: 0 auto;
  position: relative;
  top: 5rem;
  z-index: 0;
  backdrop-filter: blur(2px);
}

.teamHeading {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.posHeading {
  font-size: 1rem;
  margin: 4rem auto;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

.fourthYear {
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.teamPage {
  overflow-x: hidden;
  background-image: url("https://res.cloudinary.com/dz2mlxltd/image/upload/v1706370659/spiralbg_mj8fzf.svg");
  background-size: contain;
}

@media screen and (min-width: 760px) {
  .TeamContainer {
    flex-direction: row;
  }

  .posHeading {
    font-size: 2rem;
  }

  .teamHeading {
    font-size: 2.5rem;
  }
}
