@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;800&family=Monoton&family=Montserrat:wght@400;700&family=Nothing+You+Could+Do&family=Poppins&display=swap");

.dashPage {
  overflow-x: hidden;
  background-image: url("https://res.cloudinary.com/dz2mlxltd/image/upload/v1706370659/spiralbg_mj8fzf.svg");
  background-size: contain;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .pageCont {
    backdrop-filter: blur(2px);
  }

  .details {
    padding: 2rem;
    width: 100%;

    .h1 {
      text-align: center;
      font-size: 0.9375rem;
      color: #000000;
    }
  }

  @media screen and (min-width: 1051px) {
    .details {
      flex-direction: row;
    }
  }
}

.cardWrap {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  // height: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 9.100000381469727px 0px #00000040;
  background-color: #d9d9d9;
  border-radius: 2rem;
  overflow: hidden;
}

.widePop {
  margin: 0 auto;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 2rem;
  height: 15rem;
  z-index: 2;
  box-shadow: 0 0 1rem #000000;
  border: 0 solid transparent;
  border-radius: 1rem;
  width: 40vw;
  height: 25vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1051px) {
  .cardWrap {
    flex-direction: row-reverse;
  }
}

.photoParent {
  .img {
    width: 10rem;
    height: 10rem;
    border: 0 solid transparent;
    border-radius: 100%;
  }
}

.personalDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  .photoCont {
    margin: 0;
    padding: 0;

    .photo {
      margin: 0;
      padding: 0;
    }
  }

  .userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    .person {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .bio {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        row-gap: 1rem;
        column-gap: 1rem;
      }

      @media screen and (min-width: 1051px) {
        .bio {
          flex-direction: column;
          align-items: start;
        }
      }
    }

    .contactSec {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      column-gap: 2rem;
      width: 100%;

      .heading {
        text-align: center;
        margin: 0 auto;
        font-size: 1rem;
        width: 100%;
      }
    }

    @media screen and (min-width: 1051px) {
      .person {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
      }
    }

    .field {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.5rem;
      color: #000000;

      .h1 {
        opacity: 0.5;
        font-weight: 600;
      }

      .desc {
        opacity: 1;
        font-weight: 500;
      }
    }

    .contactCol {
      font-size: 0.75rem;

      .h1 {
        color: #070624;
      }
    }

    .nitCol {
      font-size: 0.75rem;

      .h1 {
        color: #070624;
      }
    }

    .phoneCont {
      font-size: 0.625rem;
    }

    .emailCont {
      font-size: 0.625rem;
    }
  }

  @media screen and (min-width: 1051px) {
    .outerCont {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 1051px) {
  .personalDetails {
    flex-direction: row;
  }
}

.contactDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.eventCol {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .h1 {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1051px) {
  .eventCol {
    flex-direction: column;
    row-gap: 6rem;
  }
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25rem;
  background-color: #f6eeee;

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 1051px) {
    .col {
      align-items: start;
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  .btn {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.1rem;
    border: 0px solid transparent;
    color: #333333;
    font-size: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-left: 1rem;
    cursor: pointer;
  }

  @media screen and (min-width: 1051px) {
    .btn {
      font-size: 1rem;

      .queries {
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
      }
    }
  }

  .queries {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 1051px) {
  .options {
    flex-direction: column;
    width: 40%;
  }
}

#verificationparent {
  padding-top: 8vw !important;
  min-height: 100vh;
  padding: 0 4vw;

  h1 {
    font-size: 2vw;
    font-family: "Lato", sans-serif;
    margin-bottom: 1.5vw;
  }

  h3 {
    font-size: 1.5vw;
    font-family: "Lato", sans-serif;
    margin-bottom: 1.5vw;
  }

  ul li {
    font-family: "Lato", sans-serif;
    font-size: 1.25vw;
  }

  #boldss {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #161c59;
  }
}

#btn {
  background-color: #c9984e;
  color: white;
  border: none;
  outline: none;
  padding: 1vw;
  border-radius: 15px;
  margin: 2vw 0;
}

#reallysmall {
  font-family: "Lato", sans-serif;
  margin: 1vw 0;
  font-size: 0.69vw;
}

@media (max-width: 660px) {
  #verificationparent {
    padding-top: 20vw !important;
    min-height: 100vh;
    padding: 0 8vw;

    h1 {
      font-size: 4vw;
      font-family: "Lato", sans-serif;
      margin-bottom: 4vw;
    }

    h3 {
      font-size: 3.5vw;
      font-family: "Lato", sans-serif;
      margin-bottom: 4vw;
    }

    ul li {
      font-family: "Lato", sans-serif;
      font-size: 3.5vw;
      line-height: 1.6;
      margin: 3vw 0;
    }

    #boldss {
      font-family: "Lato", sans-serif;
      font-weight: 900;
      color: #161c59;
    }
  }

  #btn {
    background-color: #c9984e;
    color: white;
    border: none;
    outline: none;
    padding: 3vw;
    border-radius: 15px;
    margin: 4vw 0;
    font-size: 4vw;
  }
}

#flexbetn {
  display: flex;
  align-items: center;
}

#boldpp {
  font-weight: 600;
  color: #161c59;
  font-family: "Lato", sans-serif;
  font-size: 1.8vw;
}

#boldppp {
  font-weight: 600;
  color: #161c59;
  font-family: "Lato", sans-serif;
  font-size: 1.2vw;
  margin-top: 0.75vw;
}

#labessize {
  font-size: 1.25vw;
}

@media (max-width: 660px) {
  .eventCol {
    display: none;
  }

  #topmargintoname {
    margin-top: 5vw;
  }

  .widePop {
    width: 90vw;
    height: 50vw;
  }

  #labessize {
    font-size: 4vw;
  }

  .queries {
    font-size: 3.25vw !important;
  }

  #reallysmall {
    font-family: "Lato", sans-serif;
    margin: 1vw 0;
    font-size: 2.5vw;
    line-height: 1.6;
  }

  #boldpp {
    font-size: 6vw !important;
  }
}

#conditionallink {
  // height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  h2 {
    text-align: center;
    margin-bottom: 5vw;
  }
  flex-wrap: wrap;
  width: 100%;
  a {
    p {
      text-align: start;
      // text-decoration: underline;
    }
  }
}
