.mainHeading {
  color: #1d1c41;
  font-size: 2.5vw;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 8vw;
}

@media screen and (max-width: 670px) {
  .mainHeading {
    font-size: 1.5rem;
  }
}

.regCont {
  background-color: #e8e8e8;
  margin-top: 2rem;
  box-shadow: 0px 0px 20px 0px #00000066;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  padding: 1rem;
  padding-bottom: 5vw;

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .textCont {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      font-family: "Inter", sans-serif;

      .title {
        font-size: 2.5rem;
        color: #494869;
        font-weight: 600;
      }

      .tagline {
        font-size: 1rem;
        color: #696b6e;
        font-weight: 500;
      }
    }
  }

  @media screen and (max-width: 670px) {
    .heading {
      flex-direction: column-reverse;
      align-items: center;

      .textCont {
        text-align: center;

        .title {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.fieldName {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5vw;

  .compulsory {
    color: #ff0000;
    color: 1rem;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
  }

  .name {
    font-size: 1rem;
    color: #283747;
  }
}

.fullName {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .textBox {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .inputBox {
      width: 100%;
    }

    .label {
      width: 100%;
      text-align: left;
      color: #7a7171;
    }
  }
}

@media screen and (max-width: 670px) {
  .fullName {
    flex-direction: column;

    .textBox {
      width: 80%;
    }
  }
}

.year {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .partitions {
    width: 40%;

    .fieldName {
      width: 100%;
      padding-left: 0vw;
    }

    .inputBox {
      width: 100%;
    }
  }
}

.prefTags {
  display: flex;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding-left: 1vw;
  column-gap: 5vw;
  align-items: center;
  flex-direction: row;
  font-size: 0.8rem;
  color: #000000;
}

@media screen and (max-width: 670px) {
  .prefTags {
    flex-direction: column;
  }
}

.payInfoMaster {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 670px) {
  .payInfoMaster {
    flex-direction: column;
    margin: 4vw 0;
  }
}

.payment {
  margin: 2.5vw 0;
}

.paymentInfoCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .paymentInfo {
    padding-top: 1.5vw;
    .h1 {
      font-family: "Inter", sans-serif;
      font-weight: 400;

      .bolded {
        color: #000000;
        margin-right: 1rem;
        font-weight: 500;
      }

      font-size: 1vw;
      color: #7a7171;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 7vw;
    width: 100%;
    justify-content: flex-start;
  }

  @media screen and (max-width: 670px) {
    .paymentInfo {
      flex-direction: column;
    }

    .h1 {
      margin: 2vw 0;
    }
  }
}

.name {
  font-size: 1.5rem;
}

.screenshot {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  column-gap: 30%;
  margin-top: 2vw;
}

.paymentInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.subCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4vw;

  .submitBtn {
    background: #c9984e;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    border: 0px solid transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5625rem;
    border-radius: 0.5rem;
  }
}

.partitions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.email,
.phoneNo,
.prevExp {
  .inputBox {
    width: 90%;
    margin: 0 auto;
  }

  .fieldName {
    width: 100%;
    text-align: left;
  }
}

.committee {
  .fieldName {
    width: 100%;
    text-align: left;
  }

  .partitionChild {
    padding-left: 5vw;
    padding-right: 5vw;

    .disclaimer {
      color: #6a6a6a;
      font-size: 1vw;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      margin-bottom: 0.75vw;
    }

    .inputCont {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      grid-row-gap: 1rem;

      .field {
        display: flex;
        flex-direction: row;

        .prefBox {
          width: 60%;
          margin-left: 1rem;
        }

        .h2 {
          font-size: 1rem;
          font-family: "Inter", sans-serif;
          font-weight: 600;
          margin-right: 0.75vw;
        }
      }
    }

    @media screen and (max-width: 670px) {
      .inputCont {
        grid-template-columns: auto;
      }
    }

    .payment {
      .fieldName {
        padding-left: 0vw;
      }

      .payCont {
        .p {
          font-family: "Inter", sans-serif;
          font-weight: 500;
        }
      }
    }
  }

  @media screen and (max-width: 670px) {
    .partitionChild {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
}

.contactInfoCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-style: italic;
  color: #464040;
  font-family: "Inter", sans-serif;
  margin-top: 1rem;
  font-size: 0.65rem;

  .bolded {
    font-weight: 400;
  }

  .normal {
    font-weight: 300;
  }
}

#flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

#maxoptionwidth {
  flex: none;
  order: 1;
  width: 30%;
  overflow-x: scroll;
  p {
    font-size: 1vw;
    font-weight: 500;
    color: #000000;
    margin: 0.5vw 0;
  }
  select {
    height: 50vh;
    padding-left: 0.5vw;
  }
}

#qrcodehldr {
  margin: 2vw 0;
  width: 30vw;
  height: 40vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#extramarginaccom {
  margin-top: 1vw;
}

@media (max-width: 660px) {
  #flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
  }

  #maxoptionwidth {
    flex: none;
    order: 1;
    width: 90%;
    margin: 5vw auto;
    overflow-x: scroll;
    p {
      font-size: 3vw;
      margin-bottom: 4vw;
    }

    select {
      height: 50vh;
      padding-left: 0.5vw;
    }
  }

  .tagline {
    margin: 4vw 0;
  }

  .disclaimer {
    font-size: 3vw !important;
    margin-bottom: 2.5vw !important;
  }

  .h1 {
    font-size: 3.5vw !important;
  }
  .h2 {
    margin-right: 2.5vw !important;
  }

  .screenshot {
    margin: 4vw 0;
  }

  .subCont {
    margin: 8vw 0;
  }

  #qrcodehldr {
    margin: 4vw 0;
    width: 70vw;
    height: 90vw;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #columnflex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
  }

  #heightfixed {
    height: 35vh !important;
    overflow: scroll;
    ::-webkit-scrollbar {
      width: 4px;
    }
  }
}

#smolsize {
  font-size: 0.75vw !important;
}

@media (max-width: 660px) {
  #smolsize {
    font-size: 2.5vw !important;
  }
}

#choiceregis {
  min-height: 100vh;
  padding: 10vw;
  h1 {
    font-size: 2.2vw;
  }
  p {
    text-align: center;
    margin-bottom: 2.5vw;
  }
  main {
    text-align: center;
    button {
      cursor: pointer;
      margin: 1vw;
      border: none;
      background-color: #c9984e;
      outline: none;
      border-radius: 10px;
      padding: 0.5vw 2vw;
      font-size: 1.25vw;
    }
  }
  #moretoplabel {
    margin: 1vw;
  }
}

#moreboldsize {
  font-size: 1vw;
  font-weight: 600;
}

#imporantinfoongrp {
  margin: 1vw 0;
}

#sendinvitebtnid {
  margin: 1vw auto;
  padding: 0.5vw 1.25vw;
  border: none;
  outline: none;
  background-color: #c9984e;
  color: white;
  border-radius: 8px;
}

#textmemes {
  font-size: 1vw;
  font-weight: 600;
  margin: 0.5vw;
}

#textmemescenter {
  text-align: center;
  color: green;
  font-size: 1vw;
  font-weight: 600;
  margin: 0.5vw;
  text-decoration: underline;
}

#imporantforgrp {
  margin: 1vw 0;
  width: 70% auto;
  ul li {
    text-align: justify;
  }
  h4 {
    font-size: 1.8vw;
    text-decoration: underline;
    font-weight: 600;
    font-family: "Poppins";
    margin: 1vw 0;
  }
}

#focusedbold {
  font-weight: 900;
  font-family: "Lato", sans-serif;
  text-decoration: underline;
}

#procintotal {
  font-size: 1.5vw;
  font-weight: 600;
  margin: 1vw 0;
  color: green;
}

@media (max-width: 660px) {
  #choiceregis {
    min-height: 100vh;
    padding: 10vw;
    padding-top: 40vw;
    h1 {
      font-size: 3.25vw;
      margin-bottom: 1vw;
    }
    p {
      text-align: center;
      margin-bottom: 3vw;
      font-size: 2.9vw;
    }
    main {
      text-align: center;
      button {
        cursor: pointer;
        margin: 3vw;
        border: none;
        background-color: #c9984e;
        outline: none;
        border-radius: 10px;
        // padding: 2wv 9vw !important;
        font-size: 5vw;
      }
    }
    #moretoplabel {
      margin: 1vw;
    }
  }

  #sendinvitebtnid {
    margin: 5vw auto;
    padding: 1.25vw 4vw;
    font-size: 4vw;
    border: none;
    outline: none;
    background-color: #c9984e;
    color: white;
    border-radius: 8px;
  }

  #textmemes {
    font-size: 3vw;
    font-weight: 600;
    margin: 2vw;
  }

  #textmemescenter {
    text-align: center;
    color: green;
    font-size: 3vw;
    font-weight: 600;
    margin: 2vw;
  }

  #imporantforgrp {
    margin: 5vw 0;
    width: 100% auto;
    ul li {
      text-align: justify;
    }
    h4 {
      font-size: 4vw;
      font-weight: 600;
      font-family: "Poppins";
      margin: 3vw 0;
    }
  }

  #procintotal {
    font-size: 4vw;
    font-weight: 600;
    margin: 2vw 0;
    color: green;
  }
}
