.letter{
    margin: 0;
    margin-top: 2vh;

}
.header h1{
    font-size: 1.5rem;
    margin-bottom: 6vh;
}
.main{
    padding: 0 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.text-image-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.main .pera-heading{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2vh;
}
.main p{
    font-size: 1.2rem;
    text-align: justify;
}
.footer{
    margin-top: 1vh;
    line-height: 4vh;
    padding: 0 8vw;
    font-size: 1.8rem;
    font-weight: 600;
}
.footer p{
    font-weight: 600;
}
@media screen and (max-width:700px){
    .text-image-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:814px){
    .main .pera-heading{
        font-size: 1rem;
    }
}   
@media screen and (max-width:558px){
    .header h1{
        font-size: 1.1rem;
    }
    .main .pera-heading{
        font-size: 0.8rem;
    }
    .main p{
        font-size: 1rem;
    }
}
@media screen and (max-width:450px){
    .header h1{
        font-size: 0.9rem;
    }
    .main .pera-heading{
        font-size: 0.7rem;
    }
}