.footerContainer {
  background-color: #070826;
  padding-top: 6vh;
  padding: 0 4vw;
  
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.imageContainer1 {
  margin-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30vw;
  margin-bottom: 2vh;
}
.imageContainer1{
  display: none;
}

/* .image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    border: 2px solid red ;
} */
.imageContainer1 .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1c32;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;


}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 4vw;
  color: aliceblue;
  // border: 2px solid red;
}

.contact .h2 {
  margin-bottom: 2vh;
}

.option {
  display: flex;
  width: 30vw;
  align-items: center;
  color: white;
  height: 100%;
  margin-bottom: 2vh;
  // border: 2px solid red;
}

.option .phone {
  width: 1rem;
  height: 1rem;
}

// .option img{
//     height: 2.5vh;
//     width: 2.5vw;
// }
.option .optionText {
  margin-left: 3vw;
  text-align: right;
  font-size: 1rem;
  // border: 2px solid red;
}

.logo {
  display: flex;
  height: 100%;
  align-items: center;
}

.logoIcon {
  width: 25vh;
  height: 25vh;
  /* border: 2px solid red; */
}

.logo .line {
  margin-top: 2vh;
  height: 28vh;
  width: 0.1vw;
}

.logo .text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  font-size: 2.8rem;
  font-family: bold;
  color: white;
  height: 100%;
}

.explore {
  color: white;
}

.hr {
  margin: 4vh 4vh 0 4vh;
}

.copyrightSec {
  /* margin-top: 2vh; */
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0.5vh 4vw;
  padding-bottom: 4vh;
}

.copyright .copyrightText {
  font-size: 0.7rem;
}

.imageContainer {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 20vw;
}

.imageContainer .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1c32;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .imageContainer1 {
    display: flex;
  }
  .explore {
    display: none;
  }

  .hr {
    display: none;
  }

  .imageContainer {
    display: none;
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .option{
    width: 40vw;
    
  }
  .option .optionText{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1046px) {
  .image-container .icon {
    width: 1rem;
    height: 1rem;
  }
  .option{
    width: 32vw;
  }
  .option .optionText {
    margin-left: 1.7vw;
    text-align: right;
    font-size: 0.9rem;
  }  

}
@media screen and (max-width: 857px) {
  .contact .h2 {
    font-size: 1.2rem;
  }

  .explore .h2 {
    font-size: 1.2rem;
  }

  .option .optionText {
    font-size: 0.8rem;
  }

  .explore .li {
    font-size: 0.8rem;
  }

  .imageContainer .icon {
    width: 1rem;
    height: 1rem;
  }
}
@media screen and (max-width: 770px){
  .option .optionText {
    font-size: 0.70rem;
  }  
}
@media screen and (max-width: 600px) {
  .imageContainer1 .icon {
    height: 1rem;
    width: 1rem;
  }

  .imageContainer1 {
    width: 100vw;
  }

  .logoIcon {
    width: 20vh;
    height: 20vh;
    /* border: 2px solid red; */
  }

  .logo .line {
    height: 25vh;
    width: 0.1vw;
  }

  .logo .text {
    font-size: 2.6rem;
  }

  .contact .h2 {
    margin-bottom: 1.5vh;
  }
  
  .contact .option{
    width: 45vw;
    
  }
  .option .optionText {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 531px){
  .option .optionText {
    font-size: 0.7rem;
  }
  .fontContainer .text{
    font-size: 2rem;
  }
}
@media screen and (max-width: 471px){
  .option .optionText {
    font-size: 0.65rem;
  }
}
@media screen and (max-width: 450px) {
  .contact .h2 {
    font-size: 1rem;
  }

  .contact .optionText {
    font-size: 0.6rem;
  }

  .logoIcon {
    width: 15vh;
    height: 15vh;
    /* border: 2px solid red; */
  }

  .logo .text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .contact .optionText {
    font-size: 0.5rem;
  }
  
  .logoIcon {
    width: 12vh;
    height: 12vh;
    /* border: 2px solid red; */
  }

  .logo .line {
    height: 20vh;
  }

  .logo .text {
    font-size: 1.6rem;
  }
}

.li {
  a {
    color: white;
  }
}

.optionText {
  a {
    color: white;
  }
}
