.Herocard {
  border: 1rem solid var(--NITSMUN-navbar-golden);
  border-radius: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vw;
  height: 75vh;
  width: 75vw;
  padding: 5vw;
  background-color: #070826;
  box-shadow: 0 0 0.5rem 0.5rem rgba(109, 109, 109, 0.7);
}

.Herodetails {
  align-items: center;
  row-gap: 1rem;
}

.Herologo {
  width: 8.4rem;
  height: 8.2rem;
}

.Heroorg {
  font-size: 1.5rem;
}

.Herodes {
  font-size: 1rem;
  font-weight: 400;
}

.Heroreg {
  color: #ffffff;
  background-color: var(--NITSMUN-navbar-golden);
  font-size: 1rem;
}

.Herotimeline {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  row-gap: 1rem;
}

.timeBox {
  height: 2rem;
  width: 2rem;
}

@media screen and (min-width: 760px) {
  .Herocard {
    flex-direction: column;
    column-gap: 3.5rem;
    border-radius: 20vw;
    padding: 0.5rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

  .Heroorg {
    font-size: 4.2rem;
    letter-spacing: 4px;
  }

  .Herodes {
    font-size: 1.5rem;
  }

  .Heroreg {
    font-size: 2.5rem;
  }

  .Herologo {
    width: 15.5rem;
    height: 13rem;
  }

  .Herodetails {
    align-items: center;
    row-gap: 0rem;
  }

  .timeBox {
    height: 5rem;
    width: 5rem;
  }
}
